body,
h1,
button {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background-color: #f0f4f8;
    color: #333;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
}

h1 {
    font-size: 2.5rem;
    margin-bottom: 1.5rem;
    color: #2c3e50;
}

.quiz-container {
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 2rem;
    max-width: 600px;
    width: 100%;
}

.question-container {
    font-size: 1.25rem;
    margin-bottom: 1.5rem;
    font-weight: 500;
}

.options-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
}

.options-container button {
    padding: 0.75rem 1rem;
    font-size: 1rem;
    border: none;
    border-radius: 8px;
    background-color: #3498db;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.options-container button:hover {
    background-color: #2980b9;
}

.options-container button:disabled {
    cursor: not-allowed;
}

.correct {
    background-color: #2ecc71 !important;
}

.incorrect {
    background-color: #e74c3c !important;
}

.next-container button {
    margin-top: 2rem;
    padding: 0.75rem 1.5rem;
    font-size: 1rem;
    border: none;
    border-radius: 8px;
    background-color: #8e44ad;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.next-container button:hover {
    background-color: #732d91;
}

.next-container button:disabled {
    cursor: not-allowed;
    background-color: grey;
}


.streak-container {
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-size: 1.2rem;
    font-weight: 600;
    color: #8e44ad;
    background-color: #f5eaf7;
    padding: 0.75rem 1.25rem;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
}